@media all and (min-width: 1px) {
  header {
    padding: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    height: 100px;
    z-index: 99;
  }
  header .logoGTC {
    width: 15vw;
    min-width: 200px;
  }
  header .marcas {
    width: 15vw;
    min-width: 200px;
  }
  .fixedHeader {
    background-color: #FFFFFF;
    border-bottom: 3px solid #FAE800;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-animation-name: fixedHeader;
            animation-name: fixedHeader;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.01, 0.17, 0.99);
            animation-timing-function: cubic-bezier(0.09, 0.01, 0.17, 0.99);
  }
  nav ul {
    margin: 0;
    display: none !important;
  }
  nav ul li {
    background-color: #FFFFFF;
    position: relative;
  }
  nav ul li a {
    display: block;
    color: #231F20;
    padding: 5px 5px;
    position: relative;
    width: 100%;
    font-size: 1.8rem;
    font-family: "Prelo SemiBold";
  }
  nav ul li:last-child {
    border: 2px solid #FAE800;
    padding: 0 25px;
  }
  nav ul li:last-child a::before {
    content: '';
    position: absolute;
    border: 2px solid #FAE800;
    width: 20px;
    height: 20px;
    bottom: -10px;
    right: 0;
    z-index: -1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav ul li:last-child a::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    bottom: -8px;
    right: 3px;
    width: 13px;
    height: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav ul li a:hover {
    color: #FAE800;
  }
}

@media all and (min-width: 1025px) {
  header {
    padding: 1.5vw 0;
    height: 3vw;
  }
  header .marcas {
    margin: 0 2vw;
  }
  nav ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav ul li {
    margin: 0 .5vw;
  }
}

@-webkit-keyframes fixedHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fixedHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Prelo SemiBold';
  src: url("../fonts/Prelo-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Prelo-SemiBold.otf") format("opentype"), url("../fonts/Prelo-SemiBold.woff") format("woff"), url("../fonts/Prelo-SemiBold.ttf") format("truetype"), url("../fonts/Prelo-SemiBold.svg#Prelo-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prelo Bold';
  src: url("../fonts/Prelo-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Prelo-Bold.otf") format("opentype"), url("../fonts/Prelo-Bold.woff") format("woff"), url("../fonts/Prelo-Bold.ttf") format("truetype"), url("../fonts/Prelo-Bold.svg#Prelo-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prelo Book';
  src: url("../fonts/Prelo-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Prelo-Book.otf") format("opentype"), url("../fonts/Prelo-Book.woff") format("woff"), url("../fonts/Prelo-Book.ttf") format("truetype"), url("../fonts/Prelo-Book.svg#Prelo-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times Bold';
  src: url("../fonts/Times-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Times-Bold.woff") format("woff"), url("../fonts/Times-Bold.ttf") format("truetype"), url("../fonts/Times-Bold.svg#Times-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #231F20;
  font-family: "Prelo Book";
  font-weight: 100;
}

strong {
  font-family: "Prelo Bold";
  font-weight: 700;
}

.timesFont {
  font-family: "Times Bold";
}

.blackBackgroundColor {
  background-color: #231F20;
}

.yellowBackgroundColor {
  background-color: #FAE800;
}

@media all and (min-width: 1px) {
  h2 {
    font-size: 3rem;
    font-weight: 100;
  }
  .sliderPrincipal {
    height: 100vw;
    background-image: url(../images/bricks.jpg);
    background-position: center top;
    background-size: 210%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .sliderPrincipal .mensajeSlider {
    position: absolute;
    margin: 0 auto;
    height: 95%;
    left: 0;
    right: 0;
  }
  .rssTendenze {
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 5%;
    min-width: 30px;
    margin: auto;
  }
  .rssTendenze .wrappRss {
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px 0;
  }
  .rssTendenze .wrappRss a {
    display: block;
    color: #231F20;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .buble {
    border: 2px solid #FAE800;
    padding: 10px 0;
    position: relative;
    background-color: #FFFFFF;
    display: block;
    font-size: 2rem;
    text-align: center;
    color: #231F20;
    font-family: "Prelo SemiBold";
  }
  .buble::before {
    content: '';
    position: absolute;
    border: 2px solid #FAE800;
    width: 70px;
    height: 40px;
    bottom: -10px;
    right: 40px;
    z-index: -1;
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
  }
  .buble::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    bottom: -2px;
    right: 44px;
    width: 45px;
    height: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .experiencia {
    margin: 20px 0;
  }
  .experiencia img {
    width: 100%;
    display: block;
    margin: 10px 0;
  }
  .wrappIdea {
    margin: 20px 0;
  }
  .wrappIdea .fraseIdea {
    height: 250px;
  }
  .wrappIdea .fraseIdea h2 {
    text-align: center;
  }
  .wrappIdea .promo {
    padding: 25px;
  }
  .wrappIdea .promo img {
    width: 80%;
    height: auto;
  }
  .itemServices {
    width: 80vw;
    margin: 10px 0;
  }
  .itemServices img {
    width: 100%;
  }
  .itemServices h3 {
    margin: 0;
    width: 100%;
    font-family: "Prelo Bold";
  }
  .servicesTop .buble {
    width: 100%;
    margin: 20px 0;
  }
  .experiencia li {
    font-family: "Prelo Bold";
    font-size: 2rem;
  }
  .gallery {
    margin: 20px 0;
  }
  .gallery .itemGallery {
    width: 100%;
  }
  .gallery .itemGallery img {
    width: 100%;
  }
  footer {
    position: relative;
    z-index: 99;
    height: 110vw;
  }
  footer > div > div {
    margin: 30px 0 10px;
  }
  footer aside {
    margin: 20px 0 30px;
  }
  footer aside a {
    font-size: 3.5rem;
    margin: 0 1vw;
  }
  footer .buble {
    background-color: #231F20;
    color: #FFFFFF;
    margin: 20px 0;
    width: 90%;
  }
  footer .buble::after {
    border-color: #231F20;
    background-color: #231F20;
  }
}

@media all and (max-width: 500px) {
  .clientes {
    margin: 20px 0;
  }
  .clientes img {
    margin: 20px 10px;
  }
  .clientes .cli-cuadrado {
    width: 25%;
  }
  .clientes .cli-horizontal {
    width: 40%;
    margin: 20px auto;
  }
}

@media all and (min-width: 1025px) {
  h2 {
    font-size: 5rem;
    font-weight: 100;
    margin: 2vw 0;
  }
  .sliderPrincipal {
    height: 80vh;
    margin-bottom: 2vw;
    margin-top: 6vw;
    background-size: 120%;
  }
  .sliderPrincipal .mensajeSlider {
    margin: 0;
    height: 90%;
    width: auto;
    left: 15%;
    right: inherit;
  }
  .sliderPrincipal .rssTendenze {
    position: absolute;
    margin: 0;
    bottom: inherit;
    left: 4vw;
    top: -1px;
    width: 3vw;
  }
  .sliderPrincipal .rssTendenze .wrappRss {
    padding: 5vh 10px 0;
  }
  .sliderPrincipal .rssTendenze .wrappRss a {
    font-size: 3.2rem;
  }
  .experiencia img {
    width: 18%;
    margin: 0;
  }
  .experiencia img:last-child {
    width: 25%;
  }
  .experiencia img:nth-child(3) {
    width: 20%;
  }
  .wrappIdea {
    margin: 2vw 0;
  }
  .wrappIdea .fraseIdea {
    height: 85vh;
  }
  .wrappIdea .fraseIdea h2 {
    text-align: left;
  }
  .wrappIdea .promo {
    padding: 0;
    height: 85vh;
    position: relative;
  }
  .wrappIdea .promo img {
    width: auto;
    height: 80vh;
  }
  .wrappIdea .promo::before {
    content: '';
    background: #FFFFFF;
    height: 100%;
    left: 0;
    width: .4vw;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .itemServices {
    width: 24%;
  }
  .itemServices h3 {
    width: 80%;
    margin: 10px auto;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .servicesTop .buble {
    width: 18%;
    margin: 20px 5px;
  }
  .servicesTop .buble:last-child {
    margin-right: 0;
  }
  .clientes .cli-cuadrado,
  .clientes .cli-horizontal {
    margin: 20px 10px;
  }
  .gallery .itemGallery {
    width: 25%;
  }
  .gallery .itemGallery img {
    width: 99%;
  }
  footer {
    height: auto;
  }
  footer .buble {
    width: 40%;
    margin-bottom: 30px;
  }
}
