@import _variables
@import _header
@import _fonts
@import _videoYoutube

// html
//   scroll-behavior: smooth

body
  color: $blackColor
  font-family: $fontBook
  font-weight: 100

strong
  font-family: $fontBold
  font-weight: 700

.timesFont
  font-family: $fontTimes

.blackBackgroundColor
  background-color: $blackColor

.yellowBackgroundColor
  background-color: $yellowColor

@media all and (min-width: 1px)
  h2
    font-size: 3rem
    font-weight: 100

  .sliderPrincipal
    height: 100vw
    background-image: url(../images/upBackground.jpg)
    background-position: center top
    background-size: 210%
    background-repeat: no-repeat
    position: relative
    margin-bottom: 20px
    margin-top: 100px
    .mensajeSlider
      position: absolute
      margin: 0 auto
      height: 95%
      left: 0
      right: 0
  
  .rssTendenze
    left: 0
    position: fixed
    right: 0
    bottom: 0
    width: 100%
    min-width: 30px
    margin: auto
    z-index: 10
    .wrappRss
      background-color: $whiteColor
      width: 100%
      a
        padding: 15px 0
        display: block
        color: $blackColor
        width: 25%
        text-align: center
        font-size: 2rem
  
  .buble
    border: 2px solid $yellowColor
    padding: 10px 0
    position: relative
    background-color: $whiteColor
    display: block
    font-size: 2rem
    // width: 100%
    text-align: center
    color: $blackColor
    font-family: $fontPrincipal
    &::before
      content: ''
      position: absolute
      background: url(../images/trianglebuble.svg) no-repeat
      background-size: 80%
      z-index: 2
      width: 60px
      height: 26px
      right: 30px
      bottom: -25px
    &:hover
      color: $yellowColor
  
  .sliderInformacion
    padding: 4vw 0
    overflow: hidden
    position: relative
    .wrappSliderAbout
      position: relative
      padding-bottom: 10vw
      transition: all ease-in-out .4s
      .itemSlider
        width: 80vw
        font-family: $fontBold
        h2
          font-size: 3rem
          margin: 0 0 1vw
          width: 100%
          span
            background-color: $yellowColor
        p
          font-size: 1.5rem

  .reverseItemSlider
    flex-wrap: wrap-reverse

  .dots
    position: absolute
    z-index: 2
    bottom: 3vw
    left: 0
    right: 0
    button
      border-radius: 50%
      width: 20px
      height: 20px
      margin: 5px
      border: 0
      background-color: $blackColor
      &:first-child
        margin-left: 0
    .active
      background-color: $yellowColor
  
  .experiencia
    margin: 20px 0
    img
      width: 80%
      display: block
      margin: 10px auto

  .wrappIdea
    margin: 20px 0
    .fraseIdea
      height: 250px
      h2
        text-align: center
    .promo
      padding: 25px
      img
        width: 80%
        height: auto

  .queHacemos
    margin: auto

  .services
    margin: auto
    .itemServices
      width: 80vw
      margin: 10px 0
      img
        width: 100%
      h3
        background-color: $yellowColor
        font-size: 2rem
        margin: 0
        width: 100%
        font-family: $fontBold
  
  .servicesTop
    margin: auto
    .buble
      width: 100%
      margin: 20px 0
  
  .experiencia
    li
      font-family: $fontBold
      font-size: 2rem
  
  .experiencia
    margin: auto
  
  .clientes
    margin: auto
  
  .gallery
    margin: 20px auto
    .itemGallery
      width: 100%
      img
        width: 100%
  
  .categorias
    background-image: url(../images/pista.jpg)
    background-size: auto 130%
    background-repeat: no-repeat
    background-position: center
    height: 70vh
    h2
      margin-top: 5vw
      span
        line-height: 1.5
        padding: 2px
    p
      color: $whiteColor
      padding: 15px
      background-color: rgba(#000, .8)
  
  
  footer
    position: relative
    z-index: 99
    height: 100vw
    a
      color: $whiteColor
    > div
      > div
        margin: 30px 0 10px
    aside
      margin: 20px 0 30px
      a
        font-size: 3.5rem
        margin: 0 1vw
    .buble
      background-color: $blackColor
      color: $whiteColor
      margin: 20px 0
      width: 90%
      &::before
        background: url(../images/trianglebuble2.svg) no-repeat
  
@media all and (max-width: 1024px)
  .clientes
    .cli-cuadrado
      width: 18%
      margin: 20px 10px
    .cli-horizontal
      width: 30%
      margin: 20px 10px

@media all and (max-width: 500px)
  .clientes
    margin: 20px auto
    img
      margin: 20px 10px
    .cli-cuadrado
      width: 25%
      margin: 20px auto
    .cli-horizontal
      width: 40%
      margin: 20px auto


@media all and (min-width: 765px)
  .experiencia
    img
      width: 40%

  .itemServices
    width: 39.5vw

  .servicesTop 
    .buble
      width: 45%
      margin: 20px 5px

  .experiencia 
    margin-bottom: 40px
    li
      width: 50%
  
  .gallery 
    .itemGallery
      width: 49.5%
  
  footer
    height: 50vw
  
@media all and (min-width: 1025px)
  h2
    font-size: 5rem
    font-weight: 100
    margin: 2vw 0

  .sliderPrincipal
    height: 80vh
    margin-bottom: 0
    margin-top: 6vw
    background-size: 120%
    .mensajeSlider
      margin: 0 
      height: 100%
      width: auto
      left: inherit
      right: 5%
      top: 10%

    .rssTendenze
      position: absolute
      margin: 0
      bottom: inherit
      left: 4vw
      top: -1px
      width: 3vw
      .wrappRss
        padding: 5vh 10px 0
        a
          font-size: 3.2rem
          width: 100%
          padding: 0

  .experiencia
    padding: 5vw 0 1vw
    img
      width: 18%
      margin: 0

  .wrappIdea
    margin: 2vw 0
    .fraseIdea
      height: 85vh
      h2
        text-align: left
    .promo
      padding: 0
      height: 85vh
      position: relative
      img
        width: auto
        height: 80vh
      &::before
        content: ''
        background: $whiteColor
        height: 100%
        left: 0
        width: .4vw
        position: absolute
        top: 0
        bottom: 0
        
  .services
    margin: 5vw auto
    .itemServices
      width: 24%
      h3
        width: 80%
        margin: 10px auto
        font-size: 2rem
        line-height: 1.2
        padding: 5px 0
        font-weight: 700
        text-transform: uppercase
      p
        width: 80%
        margin: auto
  
  .servicesTop
    .buble
      width: 18%
      margin: 20px 5px
      &:last-child
        margin-right: 0
  
  .clientes
    .cli-cuadrado,
    .cli-horizontal
      margin: 20px 1.5vw
  
  .comoHacemos
    h2
      font-size: 7rem
  
  .gallery
    .itemGallery
      width: 25%
      img
        width: 99%
  
  .categorias
    height: 35vw
    width: 100%
    h2
      font-size: 7rem
      width: 50%
      position: relative
      z-index: 2
    p
      width: 45%
      margin: auto
      font-size: 3rem
      font-weight: 700
      padding: 5vw 2vw 2vw
      position: relative
      top: -12vh
      z-index: 1
      letter-spacing: 5px
  
  .sliderInformacion
    .wrappSliderAbout
      padding-bottom: 0
      padding-top: 5vw
      .itemSlider
        h2
          font-size: 5rem
        p
          font-size: 2.2rem

    .dots
      bottom: inherit
      top: 3vw
    

  footer
    height: auto
    .buble
      width: 40%
      margin-bottom: 30px